*.egg-info/
*.o
.*.pyc
.*\.orig
.*\.swp
.ipynb_checkpoints/
REVISION
VERSION
__pycache__

code-experiments/build/**/bbob2009_testcases.txt
code-experiments/build/**/bbob2009_testcases2.txt
code-experiments/build/**/coco.[ch]
code-experiments/build/**/exdata/
code-experiments/build/c/build/
code-experiments/build/c/example_experiment
code-experiments/build/java/build/
code-experiments/build/matlab/*.mex
code-experiments/build/octave/*.mex
code-experiments/build/octave/coco*.m
code-experiments/build/octave/cocoCall.c
code-experiments/build/octave/cons.m
code-experiments/build/octave/exampleexperiment.m
code-experiments/build/octave/my_fmincon.m
code-experiments/build/octave/my_optimizer.m
code-experiments/build/python/build/
code-experiments/build/python/cocoex/_version.py
code-experiments/build/python/dist/
code-experiments/build/python/src/cocoex/_version.py
code-experiments/build/python/src/cocoex/interface.c
code-experiments/examples/*/coco.[ch]
code-experiments/src/coco_version.h
code-experiments/test/*/coco.[ch]
code-experiments/test/example-test/
code-experiments/test/regression-test/data/
code-experiments/test/integration-test/Makefile
code-experiments/test/integration-test/bbob2009_testcases.txt
code-experiments/test/integration-test/bbob2009_testcases2.txt
code-experiments/test/integration-test/test_bbob-constrained
code-experiments/test/integration-test/test_bbob-largescale
code-experiments/test/integration-test/test_bbob-mixint
code-experiments/test/integration-test/test_biobj
code-experiments/test/integration-test/test_coco
code-experiments/test/integration-test/test_instance_extraction

code-postprocessing/build/
code-postprocessing/cocopp/_version.py
code-postprocessing/dist/
.version
