*.o
.*.pyc
.*\.orig
.*\.swp
REVISION
VERSION
__pycache__
*.egg-info/
.vscode/*
*.info
*.*dat

code-experiments/build/*/coco.[ch]
code-experiments/build/c/Makefile
code-experiments/build/c/example_experiment
code-experiments/build/python/build/
code-experiments/build/python/dist/
code-experiments/examples/*/coco.[ch]
code-experiments/test/*/coco.[ch]
code-experiments/test/example-test/
code-experiments/test/integration-test/Makefile
code-experiments/test/integration-test/bbob2009_testcases.txt
code-experiments/test/integration-test/bbob2009_testcases2.txt
code-experiments/test/integration-test/test_bbob-constrained
code-experiments/test/integration-test/test_bbob-largescale
code-experiments/test/integration-test/test_bbob-mixint
code-experiments/test/integration-test/test_biobj
code-experiments/test/integration-test/test_coco
code-experiments/test/integration-test/test_instance_extraction
code-experiments/test/regression-test/data/*
code-experiments/test/regression-test/bbob_noisy_regression_test/data_legacy/

code-postprocessing/build/
code-postprocessing/dist/

data/*